*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#158AD7,#B601C5);
}
.container {
    margin: 200px auto;
    max-width: 1093px;
    background-color: #FFFFFF;
    border-radius: 60px;
    height: 633px;
    display: flex;
}
.content1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content1 img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    
}
.content2{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.title-form {
    text-align: center;
    margin-bottom: 58px;
}
.img-form {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}
.input {
    border: none;
    width: 81%;
    background-color: #E5E5E5;
    height: 100%;
}
.input:focus{
    outline: none;
}
.formulaire {
    width: 400px;
    max-width: 400px;
    margin: 89px auto;
}
.three{
    
    border-radius: 30px;
    height: 50px;
    margin-bottom: 40px;
}
.three button{
    height: 100%;
    width: 100%;
    background-color: #1FCC44;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
}

.three button:focus{
    outline: none;
    
}
.three button:hover{
    cursor: pointer;
}
.form-group{
    background-color: #E5E5E5;
    border-radius: 30px;
    height: 50px;
    margin-bottom: 40px;
}
.five{
    text-align: center;
    margin-bottom: 15px;
}
.five span a{
    text-decoration: none;
    color: #1FCC44;
}
.five{
    text-align: center;
}
.arrows{
    vertical-align: middle;
}

/* responsivité */


@media screen and (max-width:758px){
    .container{
        margin: 200px auto;
        max-width: 878px;
        background-color: #FFFFFF;
        border-radius: 60px;
        height: 633px;
        display: flex;
    }
}


/* page d inscription */

.formulaire2{
    display:grid;
    align-items: center;
    width: 400px;
    max-width: 400px;
    margin: 29px auto;
    font-size: 20px;
   
}
.input-form{
    width: 400px;
    border: none;
    border-bottom: 1px solid grey;
}
.input-form:focus{
    outline: none;
}
.bouton-formulaire2{
    text-align: center;
   
}
.bouton-formulaire2 a{
    display: inline-block;
    text-decoration: none;
    background-color: #1FCC44;
    color: white;
   padding: 7px 60px;
}
.formulaire2 .item-form label{
    display: block;
    
}


/* page d accueil  */








